<a href="https://colab.research.google.com/github/gyujin0450/RPRG_PartII/blob/master/p140_%EC%9D%B4%EC%82%B0%EB%B3%80%EC%88%98%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 이산변수 시각화
# 정수단위로 나누어 측정할 수 있는 변수
# 막대차트, 점차트, 원차트 등을 이용하여 시각화

In [ ]:
## 세로 막대 차트
# barplot()

In [2]:
data <- c(305,450,320,460,330,480,380,520)
names(data) <- c("'18 1Q","'18 2Q","'18 3Q","'18 4Q","'19 1Q","'19 2Q","'19 3Q","'19 4Q")
str(data)

 Named num [1:8] 305 450 320 460 330 480 380 520
 - attr(*, "names")= chr [1:8] "'18 1Q" "'18 2Q" "'18 3Q" "'18 4Q" ...

In [ ]:
data

'18 1Q '18 2Q '18 3Q '18 4Q '19 1Q '19 2Q '19 3Q '19 4Q
   305    450    320    460    330    480    380    520

In [43]:
# barplot(data)

In [41]:
# ylim : y측의 값범위
# col  : 각 막대를 나타낼 색상
# main : 차트의 제목
# barplot(data, ylim = c(0,600), col = rainbow(8), main = "매출현황") # R Studio 에서는 제목이 제대로 나타남

In [42]:
# barplot(data, ylim = c(0,600), ylab = "Amout(unit:10,000)", xlab = "Status", 
#        col = rainbow(8), main = "Report 2018 vs 2019")

In [40]:
## 가로 막대 차트
# barplot(data, xlim = c(0,600), horiz = T, xlab = "Amout(unit:10,000)", ylab = "Status", 
#        col = rainbow(8), main = "Report 2018 vs 2019")

In [39]:
# 막대 차트에서 막대 사이의 간격 조정하기
# barplot(data, xlim = c(0,600), horiz = T, xlab = "Amout(unit:10,000)", ylab = "Status", 
#        col = rainbow(8), space = 1, cex.names =0.8, main = "Report 2018 vs 2019")

In [38]:
# 막대 차트에서 막대의 색상 지정
# barplot(data, xlim = c(0,600), horiz = T, xlab = "Amout(unit:10,000)", ylab = "Status", 
#        col = rep(c(2,4),4), space = 1, cex.names =0.8, main = "Report 2018 vs 2019")
# 검은색(1),빨간색(2),초록색(3),파란색(4),하늘색(5),자주색(6),노락색(7)
# rep(c(2,4),4) : (빨간색, 파란색)를 4번 반복

In [37]:
# 막대 차트에서 색상 이름을 사용하여 막대의 색상 지정
# barplot(data, xlim = c(0,600), horiz = T, xlab = "Amout(unit:10,000)", ylab = "Status", 
#        col = rep(c("red","green"),4), space = 1, cex.names =0.8, main = "Report 2018 vs 2019")

In [12]:
## 누적 막대 차트
# 메모리로 데이터 가져오기
data(VADeaths)
VADeaths

      Rural Male Rural Female Urban Male Urban Female
50-54 11.7        8.7         15.4        8.4
55-59 18.1       11.7         24.3       13.6
60-64 26.9       20.3         37.0       19.3
65-69 41.0       30.9         54.6       35.1
70-74 66.0       54.3         71.1       50.0

In [13]:
# 데이터 셋 구조 보기
str(VADeaths)

 num [1:5, 1:4] 11.7 18.1 26.9 41 66 8.7 11.7 20.3 30.9 54.3 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:5] "50-54" "55-59" "60-64" "65-69" ...
  ..$ : chr [1:4] "Rural Male" "Rural Female" "Urban Male" "Urban Female"

In [18]:
VADeaths[,4]

50-54 55-59 60-64 65-69 70-74
  8.4  13.6  19.3  35.1  50.0

In [19]:
mode(VADeaths);class(VADeaths)

[1] "numeric"

[1] "matrix"

In [36]:
# 개별 차트와 누적 차트 그리기
# par(mfrow = c(1,1)) # 1행 1열 그래프 보기
# 개별 차트 그리기
# barplot(VADeaths, beside = T, col = rainbow(5), main="Rate of deaths in Verginia")
# legend(19, 71, c("50-54","55-59","60-64","65-69","70-74"),cex = 0.8, fill= rainbow(5))

In [35]:
# 개별 차트와 누적 차트 그리기
# par(mfrow = c(1,1)) # 1행 1열 그래프 보기
# 개별 차트 그리기
# barplot(VADeaths, beside = F, col = rainbow(5), main="Rate of deaths in Verginia", font.main = 4)
# legend(3.8, 200, c("50-54","55-59","60-64","65-69","70-74"),cex = 0.8, fill= rainbow(5))

In [34]:
# 개별 차트와 누적 차트 그리기
# par(mfrow = c(1,1)) # 1행 1열 그래프 보기
# 개별 차트 그리기
# barplot(VADeaths, beside = F, col = rainbow(5))
# title(main="Rate of deaths in Verginia", font.main = 4)
# legend(3.8, 200, c("50-54","55-59","60-64","65-69","70-74"),cex = 0.8, fill= rainbow(5))

In [33]:
## 점 차트 사용하기
# par(mfrow = c(1,1)) # 1행 1열 그래프 보기
# dotchart(data, color = c("blue","red"), lcolor = "black", pch = 1:2,
#          labels = names(data), xlab = "Amount", main = "Status" cex = 1.2)

In [32]:
## 원형 차트 시각화
# par(mfrow = c(1,1)) # 1행 1열 그래프 보기
# pie(data, labels = names(data), col = rainbow(8), cex = 1.2)
# title("Status")